{% extends "base.html" %}

{%block title%}Edit Book{%endblock%}

{%block content%}
<h2 class='title'>Editing book</h2>
<div class="container">
    <form class="form-horizontal"
        action="{{url_for('editBook', genre_name = genre.name, book_id = book.id)}}" method='POST'>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
                <input type='text' class="form-control" name='name' value='{{book.name}}'>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="numberOfPages">Number of pages:</label>
            <div class="col-sm-10">
                <input type='text' class="form-control" name='numberOfPages' value='{{book.numberOfPages}}'>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Description:</label>
            <div class="col-sm-10">
                <input type='text' class="form-control" name='description' value='{{book.description}}'>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="price">Price:</label>
            <div class="col-sm-10">
                <input type='text' class="form-control" name='price' value='{{book.price}}'>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="author">Author:</label>
            <div class="col-sm-10">
                <input type='text' class="form-control" name='author' value='{{book.author}}'>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type='submit' class="btn btn-default" value='Edit'>
                <a href='{{url_for("genreBooks",genre_name = genre.name)}}' class="btn btn-default"
                    role="button">Cancel</a>
            </div>
        </div>
    </form>
</div>
{%endblock%}